body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#canvas {
    border-radius: 0.5rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.83);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.6px);
    -webkit-backdrop-filter: blur(16.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#score {
    color: white;
    font-size: 1.8rem;
    margin: 1rem;
}