<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Game Entrance</title>
  {% load static %}
<script src="{% static 'entrance.js' %}" defer></script>
</head>

<body>
  <h1>
    <strong> Home </strong>
  </h1>
  <div>
    <fieldset>
      <legend>match player</legend>
      <form id="form">
        <input id="txtView" name="txt" type="text" />
        <input id="btn" type="button" value="match" />
      </form>
    </fieldset>
  </div>
</body>

</html>
