<!DOCTYPE >

<html lang="en">
  <!-- Head Section -->

  <head>
    <title>Oussama</title>
    <meta charset="utf-8" />
  </head>

  <!-- Body Section -->

  <body>
    <h1>Home</h1>
    <br />
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend>Player Section</legend>
        <div>
          <label for="x">Player</label>
          <input id="text" type="text" placeholder="oussama" />
          <input id="button" type="submit" value="send" />
        </div>
      </fieldset>
    </form>

    <script>

    </script>

  </body>
</html>
